:root {
  /* @link https://utopia.fyi/clamp/calculator?a=320,1536,32—51|26—45|20—39|18—35|17—31|16—27 */

  /* headers 1-6 */
  --fluid-32-51: clamp(2rem, 1.6875rem + 1.5625vw, 3.1875rem);
  --fluid-26-45: clamp(1.625rem, 1.3125rem + 1.5625vw, 2.8125rem);
  --fluid-20-39: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.4375rem);
  --fluid-18-35: clamp(1.125rem, 0.8454rem + 1.398vw, 2.1875rem);
  --fluid-17-31: clamp(1.0625rem, 0.8322rem + 1.1513vw, 1.9375rem);
  --fluid-16-27: clamp(1rem, 0.8191rem + 0.9046vw, 1.6875rem);
  /* paragraph */
  --fluid-16-22: clamp(1rem, 0.9013rem + 0.4934vw, 1.375rem);
}

body {
  background-color: black;
  color: hsl(0, 0%, 70%);
  display: grid;
  /* line-1 and line-2 are included to inclusively create a row */
  grid-template-areas: 
  "header"
  "line-1"
  "main"
  "line-2"
  "footer";
  row-gap: 4rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  display: grid;
  justify-items: center;
  padding-bottom: 4rem;
}

hr {
  width: 50%;
  margin: 6rem auto;
  border-color: rgb(118, 7, 5);
}

.framed_transitioning_image {
  height: 40rem;
  background-position: center 40%;
  background-image: url("../images/header_background_gru.jpg");
}

.title {
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: black;
  color: hsl(1, 92%, 24%);
  font-size: var(--fluid-32-51);
  position: relative;
  top: 3rem;
}

.grid__3-column {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
  margin: auto;
}

article {
  display: grid;
  justify-items: center;
  row-gap: 2rem;
}

article p {
  max-width: 68ch;
}

.playtime_of_the_damned {
  grid-column: span 3;
}

.the_unraveling {
  grid-column: span 3;
}

.the_hollow_neighbors {
  grid-column: span 3;
}